name: "Build Plugin"

on:
  push:
    branches: ["master", "analyzers"]
  pull_request:
    branches: ["master"]

jobs:
  build:
    strategy:
      matrix:
        os: ["ubuntu-latest", "macos-latest", "windows-latest"]

    runs-on: "${{ matrix.os }}"
    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - name: Restore dependencies
        run: dotnet restore

      - name: Embed version info
        run: echo "${{ github.sha }}" > Jellyfin.Plugin.MediaAnalyzer/Configuration/version.txt

      - name: Build
        run: dotnet build --no-restore

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: Jellyfin.Plugin.MediaAnalyzer-${{ github.sha }}.dll
          path: Jellyfin.Plugin.MediaAnalyzer/bin/Debug/net8.0/Jellyfin.Plugin.MediaAnalyzer.dll
          if-no-files-found: error
